

@model List<Models.ViewModels.TeamViewModel>

@{
    ViewData["Title"] = "Teams";
}

<p class="h1 text-warning text-center">Teams</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-warning">
                                <p class="card-text">
                                    <h5 class="card-title text-center">
                                        @item.Name 
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text "><b>Abbreviation: </b>@item.Abbreviation</p>
                                <p class="card-text"><b>FullName: </b>@item.Fullname</p>
                                <p class="card-text"><b>City: </b>@item.City</p>
                                <p class="card-text"><b>Division: </b>@item.Division</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-warning"asp-controller="Team" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>