@model Models.ViewModels.PlayerDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-sm bg-dark vw-100 vh-100">
            <canvas id="marksChart" class="bg-dark"></canvas>
        </div>
        <div class="col-sm">
            <h2 class="text-center pb-5 pt-5 text-warning">@Model.FirstName @Model.LastName Details</h2>
            <table class="table bg-dark">
                <thead>
                    <tr class="bg-warning text-center">
                        <th scope="col" colspan="2">Player Details</th>
                    </tr>
                </thead>
                <tbody class="text-warning">
                    <tr>
                        <td>FirstName</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>LastName</td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td>@Model.Position</td>
                    </tr>
                    <tr>
                        <td>HeightFeet</td>
                        <td>@Model.HeightFeet</td>
                    </tr>
                    <tr>
                        <td>HeightInches</td>
                        <td>@Model.HeightInches</td>
                    </tr>

                </tbody>
            </table>
            <table class="table bg-dark">
                <thead>
                    <tr class="bg-warning text-center">
                        <th scope="col" colspan="2">Player Team Details</th>
                    </tr>
                </thead>
                <tbody class="text-warning">
                    <tr>
                        <td>Team fullname</td>
                        <td>@Model.TeamFullname</td>
                    </tr>
                    <tr>
                        <td>Team name</td>
                        <td>@Model.TeamName</td>
                    </tr>
                    <tr>
                        <td>Team abbreviation</td>
                        <td>@Model.TeamAbbreviation</td>
                    </tr>
                    <tr class="bg-warning text-dark text-center fw-bold">
                        <td colspan="2">See more details about Team</td>
                    </tr>


                </tbody>
            </table>
        </div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js"></script>
<script>
    const teamId = @Model.Id;
    $(document).ready(function () {
        $.ajax({
            url: '/Stat/GetBasicStatsByPlayerId?id=' + teamId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                
                createChart(data);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });


        function createChart(data) {
            var marksCanvas = document.getElementById("marksChart");
            console.log(data)
            var marksData = {
                labels: ["Points", "Blocks", "Assists", "Rebounds", "Steals"],
                datasets: [{
                    label: "@Model.FirstName @Model.LastName Average stats per game",
                    backgroundColor: "rgba(228,161,27,0.5)",
                    data: Object.values(data),
                }]
            };

            var radarChart = new Chart(marksCanvas, {
                type: 'radar',
                data: marksData
            });


        }
    });
</script>