@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Models.ViewModels.PlayerViewModel>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3 bg-dark text-warning" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-warning">
                            <p class="card-text">
                                <h5 class="card-title text-center">
                                    @item.FirstName @item.LastName
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://www.logodesignlove.com/images/classic/nba-logo.jpg" width="100%" alt="@item.FirstName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text "><b>Position: </b>@item.Position</p>
                            <p class="card-text"><b>HeightFeet: </b>@item.HeightFeet</p>
                            <p class="card-text"><b>HeightInches: </b>@item.HeightInches</p>
                            <p class="card-text"><b>WeightPounds: </b>@item.WeightPounds</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>